<template>
<div class="col-xs-12 input-group p-t-10">
  <div class="col-xs-1" @click="toggleCheck">
    <input
      type="checkbox"
      :checked="checked"

      data-init-plugin="switchery"
      data-size="small"
      data-color="primary"
    >
  </div>

  <div class="col-xs-5 ">
    <label class="font-montserrat fs-18 all-caps">&nbsp;  <slot></slot> &nbsp; </label>
  </div>

  <div class="col-xs-3">
    {{ service.duration }} min
  </div>

  <div class="col-xs-3">
    {{ service.price }} &euro;
  </div>
</div>
</template>

<script>
    export default {
        props: ['service', 'employee'],
        data() {
            return {
                checked: false
            };
        },

        mounted() {
          this.isProviding();
        },

        methods: {
            toggleCheck() {
              this.checked = ! this.checked;

              let path = `/salon/services/${this.service.id}/employees/${this.employee.id}`;

              this.$http.patch(path, this.customer)
                  .then(response => {
                    Event.fire('alert', { message: response.body.status });
                  },
                  error => {
                    Event.fire('alert', { message: error.body.errors, type: 'error' });
                  });
            },

            isProviding() {
              this.checked = this.service.employees.find(employee => employee.id == this.employee.id) || false;
            }
        }
    }
</script>
