<template>
<div>
  <working-day
    v-for="plan in workingPlan"
    :plan="plan"
    :salon-plan="findByWeekday(plan.weekday)"
    v-show="findByWeekday(plan.weekday).isWorkable"
  >
    {{ plan.day }}
  </working-day>
</div>
</template>

<script>
    export default {
        props: ['workingPlan', 'salonWorkingPlan'],

        methods: {
          findByWeekday(weekday) {
            return this.salonWorkingPlan.find(plan => plan.weekday == weekday);
          }
        }
    }
</script>