/*

* Override Pages default styles or create your own styles here

*/
.background-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: -9999;

  display: block;
  background-image: url('../img/bg.jpg');
  width: 1920px;
  height: 1080px;
  opacity: 0.4;

  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -o-filter: blur(20px);
  -ms-filter: blur(20px);
  filter: blur(20px);
}
