<style>
  .selected-timeslot {
    color: #fff !important;
    background-color: #626262 !important;
    border-color: #626262 !important;
  }
</style>

<template>
<div
  class="modal fade slide-up"
  id="modalSlideUp"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modalSlideUpLabel"
  aria-hidden="false"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content-wrapper">
      <div class="modal-content" style="min-height:600px;">
        <div class="modal-header clearfix text-left">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              <i class="pg-close fs-14"></i>
          </button>

          <div class="col-md-12 col-xs-12">
            <div id="booking-wizard" class="" style="margin-top: -25px;">
              <ul class="nav nav-tabs nav-tabs-linetriangle nav-tabs-separator nav-stack-sm bg-white">
                <li class="">
                    <a data-toggle="tab" href="#tab1"><i class="fa fa-user"></i> <span>Service</span></a>
                </li>
                <li class="">
                  <a data-toggle="tab" href="#tab2"><i class="fa fa-clock-o"></i> <span>Appointment</span></a>
                </li>
                <li class="">
                  <a data-toggle="tab" href="#tab3"><i class="fa fa-list-ul"></i> <span>Your Data</span></a>
                </li>
                <li class="">
                  <a data-toggle="tab" href="#tab4"><i class="fa fa-check"></i> <span>Summary</span></a>
                </li>
              </ul>

              <!-- Tab panes -->
              <div class="tab-content no-padding">
                <!-- Tab #1 -->
                <div class="tab-pane slide-left " id="tab1">

                  <div class="row row-same-height">
                    <div class="col-md-4 b-r b-dashed b-grey sm-b-b">
                        <div class="padding-30 ">
                            <h2>Please choose a Service!</h2>

                            <p>Select one of our services and then you can go ahead and choose your time and date.</p>
                            <p class="small hint-text"></p>
                        </div>
                    </div>

                    <div class="col-md-8">
                      <div class="padding-10">
                        <h5>Choose a Service</h5>

                        <div class="col-xs-12 input-group no-padding" v-for="service in services" v-if="service.isActive">
                          <div class="col-xs-6 radio radio-success">
                            <input
                              type="radio"
                              name="service"
                              :id="service.name"
                              :value="service"
                              v-model="selectedService"
                              @click="serviceProviders(service.id)"
                            >

                            <label :for="service.name" class="font-montserrat fs-18 all-caps">{{ service.name }}</label>
                          </div>

                          <div class="col-md-5">
                            <div class="col-xs-8 no-padding p-t-10">{{ service.duration }} min</div>
                            <div class="col-xs-4 no-padding p-t-10">{{ service.price }} &euro;</div>
                          </div>
                        </div>

                      </div>
                    </div>

                    <div class="col-md-8 col-md-offset-4" v-show="selectedService">
                      <div class="padding-10">
                        <h5>Choose a Provider</h5>

                        <div class="col-xs-12 input-group no-padding" v-for="provider in providers">
                          <div class="col-xs-6 radio radio-success">
                            <input
                              type="radio"
                              :id="provider.name"
                              name="provider"
                              :value="provider"
                              v-model="selectedProvider"
                            >

                            <label :for="provider.name" class="font-montserrat fs-18 all-caps">{{ provider.name }}</label>
                          </div>
                        </div>

                      </div>
                    </div>

                    </div>
                  </div>
                  <!-- END Tab #1 -->
                  
                  <!-- Tab #2 -->
                  <div class="tab-pane slide-left" id="tab2">
                    <div class="row row-same-height">
                      <div class="col-md-5 b-r b-dashed b-grey ">
                        <div class="padding-10 ">
                          <h5>Choose a day</h5>
                        </div>

                        <div class="panel">
                          <div class="panel-body">
                            <div id="datepicker-booking"></div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-7" v-show="timeslots.length != 0">
                        <div class="padding-10">
                          <div class="row">
                            <div class="col-sm-12">
                              <div class="">
                                <label class="inline">
                                  <h5>Choose a free Timeslot</h5>
                                </label>
                              </div>
                            </div>
                          </div>
                        </div>


                        <button
                          type="button"
                          class="btn btn-xs btn-timeslot btn-animated from-left fa fa-check m-t-10"
                          style="margin: 5px;"
                          v-for="timeslot in timeslots"
                          @click="setTimeslot(timeslot)"
                          :class="{ 'selected-timeslot': selectedTimeslot == timeslot }"
                        >
                          {{ timeslot | time }}
                        </button>
                      </div>

                    </div>
                  </div>
                  <!-- END Tab #2 -->

                  <!-- Tab #3 -->
                  <form class="tab-pane slide-left" id="tab3">
                    <div class="row row-same-height">
                      <div class="col-md-5 b-r b-dashed b-grey ">
                        <div class="padding-30 m-t-50">
                          <h2>Please provide your Data!</h2>

                          <p>Enter Your Data at the fields.</p>
                          <p class="small hint-text"></p>
                        </div>
                      </div>

                      <div class="col-md-7">
                        <div class="padding-30">
                          <div class="row">
                            <div class="col-sm-12">
                              <div class="form-group form-group-default required">
                                <label>Name</label>
                                <input
                                  type="text"
                                  id="customerName"
                                  class="form-control"
                                  placeholder="John Doe"
                                  required
                                  v-model="customer.name"
                                >
                              </div>
                            </div>
                          </div>

                          <div class="form-group form-group-default required">
                            <label>e-Mail</label>
                            <input
                              type="email"
                              id="customerEmail"
                              class="form-control"
                              placeholder="john@example.com"
                              required
                              v-model="customer.email"
                            >
                          </div>

                          <div class="form-group form-group-default ">
                            <label>Phone</label>
                            <input
                              type="text"
                              id="phonenumber"
                              class="form-control"
                              placeholder="0221 - 22 22 22"
                              v-model="customer.phone"
                            >
                          </div>

                          <div class="form-group form-group-default">
                            <label>Notes</label>
                            <textarea
                              class="form-control"
                              id="description"
                              placeholder="Some additional Notes"
                              aria-invalid="false"
                              v-model="notes"
                            ></textarea>
                          </div>
                        </div>
                      </div>

                    </div>
                  </form>
                  <!-- END Tab #3 -->

                  <!-- Tab #4 -->
                  <div class="tab-pane slide-left " id="tab4">
                    <div class="row row-same-height">
                      <div class="col-md-5 b-r b-dashed b-grey ">
                        <div class="padding-30 m-t-50">
                          <h2>Perfect. You booked the following Appointment</h2>

                          <p class="small hint-text">
                            We will send you an email with these Details too. When the Provider accepts your request, we will send you another mail. Have a great appointment.
                          </p>
                        </div>
                      </div>
                      
                      <div class="col-md-7">
                        <div class="padding-30">
                          <div class="row">
                              <div class="col-sm-12">
                                  <div class="form-group form-group-default">
                                      <label>Service</label>
                                      
                                      {{ selectedService.name }}
                                  </div>
                              </div>
                          </div>

                          <div class="row">
                              <div class="col-sm-12">
                                  <div class="form-group form-group-default">
                                      <label>Provider</label>
                                      
                                      {{ selectedProvider.name }}
                                  </div>
                              </div>
                          </div>

                          <div class="row">
                              <div class="col-sm-12">
                                  <div class="form-group form-group-default">
                                      <label>Price</label>

                                      {{ selectedService.price }} &euro;
                                  </div>
                              </div>
                          </div>

                          <div class="row">
                              <div class="col-sm-12">
                                  <div class="form-group form-group-default">
                                      <label>Duration</label>

                                      {{ selectedService.duration }} min
                                  </div>
                              </div>
                          </div>

                          <div class="row" v-if="selectedDate">
                              <div class="col-sm-12">
                                  <div class="form-group form-group-default">
                                      <label>Appointment Date</label>
                                      
                                      {{ selectedDate | dateForHumans }}
                                  </div>
                              </div>
                          </div>

                          <div class="row" v-if="selectedTimeslot">
                              <div class="col-sm-12">
                                  <div class="form-group form-group-default">
                                      <label>Appointment Time</label>
                                      
                                      {{ selectedTimeslot | time }}
                                  </div>
                              </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                  <!-- END Tab #4 -->

                  <!-- Pager Wizard -->
                  <div class="padding-20 bg-white">
                      <ul class="pager wizard">
                          <li class="next">
                              <button class="btn btn-primary btn-cons pull-right" type="button">
                                  <span>Next</span>
                              </button>
                          </li>
                          <li class="next finish" style="display:none;" @click="book">
                              <button class="btn btn-primary btn-cons pull-right" type="button">
                                  <span>Finish</span>
                              </button>
                          </li>
                          <li class="previous first" style="display:none;">
                              <button class="btn btn-white btn-cons pull-right" type="button">
                                  <span>First</span>
                              </button>
                          </li>
                          <li class="previous">
                              <button class="btn btn-white btn-cons pull-right" type="button">
                                  <span>Previous</span>
                              </button>
                          </li>
                      </ul>
                  </div>
                  <!-- END Pager Wizard -->

              </div>
            </div>
            <!-- END Rootwizard -->

          </div>
        </div>
      </div>
      <!-- END CONTAINER FLUID -->
    </div>
    <!-- END Hauptteil -->
  </div>
</div>
</template>

<script>
  // import "../vendor/bootstrap-datepicker.js";

  export default {
    props: ['services', 'salonId'],

    data() {
      return {
        selectedService: false,
        selectedProvider: false,
        selectedDate: false,
        selectedTimeslot: false,
        customer: { name: '', email: '', phone: '' },
        providers: [],
        timeslots: [],
        notes: '',
      };
    },

    mounted() {
        $('#booking-wizard').bootstrapWizard({
            onTabShow: (tab, navigation, index) => {
                var $total = navigation.find('li').length;
                var $current = index + 1;

                // If it's the last tab then hide the last button and show the finish instead
                if ($current >= $total) {
                    $('#booking-wizard').find('.pager .next').hide();
                    $('#booking-wizard').find('.pager .finish').show().removeClass('disabled hidden');
                } else {
                    $('#booking-wizard').find('.pager .next').show();
                    $('#booking-wizard').find('.pager .finish').hide();
                }
            },
            onNext: (tab, navigation, index) => {
                let next = index + 1;

                if (next == 2) {
                  if (! this.selectedService || ! this.selectedProvider) {
                    alert('You must select service and provider.');

                    return false;
                  }
                }

                if (next == 3) {
                  if (! this.selectedDate || ! this.selectedTimeslot) {
                    alert('You must select date and timeslot.');
                    
                    return false;
                  }
                }

                if (next == 4) {
                  if (! this.customer.name || ! this.customer.email) {
                    let validator = $("#tab3").validate();

                    validator.element("#customerName");
                    validator.element("#customerEmail");
                    
                    return false;
                  }
                }
            },
            onPrevious: (tab, navigation, index) => {
              let previous = index + 1;

              if (previous == 1) {
                this.selectedTimeslot = false;
                this.selectedDate = false;
                this.timeslots = [];
              }
            },
            onInit: () => {
                $('#booking-wizard ul').removeClass('nav-pills');
            },
            onTabClick: (tab, navigation, index) => {
                return false;
            }
        });

        $('#datepicker-booking').datepicker({
            startDate: '+1d'
        })
        .on('changeDate', (e) => {
            this.selectedDate = moment(e.date).format('YYYY-MM-DD');

            this.getTimeslots();
        });
    },

    methods: {
      serviceProviders(selectedService) {
        let path = `/api/services/${selectedService}/employees`;

        this.$http
            .get(path)
            .then(response => {
              this.providers = response.body;

              this.selectedProvider = this.providers[0];
            },
            error => {
              Event.fire('alert', { message: error.body.errors, type: 'error' });
            });
      },

      getTimeslots() {
        let path = `/api/services/${this.selectedService.id}/employees/${this.selectedProvider.id}/timeslots?date=${this.selectedDate}`;

        this.$http
            .get(path)
            .then(response => {
                this.timeslots = response.body;
                this.selectedTimeslot = false;
            },
            error => {
                Event.fire('alert', { message: error.body.errors, type: 'error' });
            },
            error => {
              Event.fire('alert', { message: error.body.errors, type: 'error' });
            });
      },

      setTimeslot(timeslot) {
        this.selectedTimeslot = timeslot;
      },

      book() {
        let path = `/api/salon/${this.salonId}/appointments`;

        let data = {
          appointment: {
            salon_id: this.salonId,
            service_id: this.selectedService.id,
            employee_id: this.selectedProvider.id,
            start: this.selectedTimeslot,
            end: this.calculateEndDate(),
            notes: this.notes
          },
          customer: this.customer
        };

        this.$http
            .post(path, data)
            .then(response => {
                $('#modalSlideUp').modal('toggle');

                Event.fire('alert', { message: response.body.status });
            },
            error => {
              Event.fire('alert', { message: error.body.errors, type: 'error' });
            });
      },

      calculateEndDate() {
        return moment(this.selectedTimeslot)
          .add(this.selectedService.duration, 'minutes')
          .format('YYYY-MM-DD HH:mm:ss');
      }
    }
  }
</script>