<template></template>

<script>
  export default {
    props: ['flash'],

    data() {
      return {
        message: 'Wooho',
        type: 'success',
      };
    },

    mounted() {
        if (this.flash) {
            this.message = this.flash;

            this.display();
        }

        Event.listen('alert', (alert) => {
            this.message = alert.status;
            this.type = alert.type;

            this.display();
        });
    },

    methods: {
        display() {
            noty({
                theme: 'relax',
                layout: 'topRight',
                text: this.message,
                type: this.type,
                timeout: 3000
            });
        },


    }
  }
</script>