<template>
    <div id="appointmentsCalendar"></div>
</template>

<script>
  export default {
    props: ['events'],

    mounted() {
      $(this.$el).fullCalendar({
        header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek,agendaDay'
        },
        defaultView: 'month',
        minTime: '08:00:00',
        maxTime: '17:00:00',
        editable: true,
        eventClick: (calEvent, jsEvent, view) => {
            Event.fire('calendar-event-clicked', calEvent);
        },
        events: this.events
      });
    }
  }
</script>