<template>
<div class="modal fade slide-up" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content-wrapper">
      <div class="modal-content">
        <div class="modal-header clearfix text-left">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="pg-close fs-14"></i>
          </button>
          <div class="col-md-12 col-xs-12">

              <!-- Tab panes -->
              <div class="no-padding">
                <div class="slide-left" id="tab3">
                  <div class="row row-same-height">
                    <div class="col-md-5 b-r b-dashed b-grey ">
                      <div class="padding-30 m-t-50">
                        <h2>Appointment Details: </h2>
                        <p>Your Appointment with {{ event.customer }}</p>
                        <p class="small hint-text"></p>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <div class="padding-30">

                        <div class="row">
                          <div class="col-sm-12">
                            <div class="form-group form-group-default">
                              <label>Provider Name</label>

                              <span>{{ event.provider }}</span>
                            </div>
                          </div>
                        </div>

                        <div class="form-group form-group-default">
                          <label>Service</label>

                          <span>{{ event.service }}</span>
                        </div>

                        <div class="row">
                          <div class="col-sm-12">
                            <div class="form-group form-group-default">
                              <label>Date</label>

                              <span>{{ event.date | dateForHumans }}</span>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-sm-12">
                            <div class="form-group form-group-default">
                              <label>Time</label>

                              <span>{{ event.time | time }}</span>
                            </div>
                          </div>
                        </div>

                        <div class="form-group form-group-default">
                          <label>Customer Name</label>

                          <span>{{ event.customer }}</span>
                        </div>

                        <div class="form-group form-group-default">
                          <label>Customer e-Mail</label>

                          <span>{{ event.email }}</span>
                        </div>

                        <div class="form-group form-group-default" v-show="event.phone">
                          <label>Customer Phone</label>

                          <span>{{ event.phone }}</span>
                        </div>

                        <div class="form-group form-group-default" v-show="event.notes">
                          <label>Customer Notes</label>
                          
                          <span>{{ event.notes }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              </div>


          </div>
        </div>
      </div>
      <!-- END CONTAINER FLUID -->
    </div>
    <!-- END Hauptteil -->
  </div>
</template>

<script>
    export default {
      data() {
        return {
          event: { provider: '', service: '', date: '', time: '', customer: '', email: '', phone: '', notes: '' }
        };
      },

      mounted() {
        Event.listen('calendar-event-clicked', (event) => {
          $(this.$el).modal('show');
          
          this.event.provider = event.employee.name;
          this.event.service = event.service.name;
          this.event.date = event.start;
          this.event.time = event.start;
          this.event.customer = event.customer.name;
          this.event.email = event.customer.email;
          this.event.phone = event.customer.phone;
          this.event.notes = event.notes;
        });
      }
    }
</script>
