<template>
    <div class="modal fade slide-up disable-scroll in" id="EditCustomerModal" tabindex="-1" role="dialog"
         aria-labelledby="addNewAppModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content-wrapper">
                <div class="modal-content">
                    <div class="modal-header clearfix ">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i
                                class="pg-close fs-14"></i>
                        </button>
                        <h4 class="p-b-5"><span class="semi-bold">Edit</span> Andreas Klingenberger</h4>
                    </div>
                    <div class="modal-body">
                        <p class="small-text">Edit Customer Details using this form, make sure you fill them all</p>
                        <form role="form">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group form-group-default">
                                        <label>Name</label>
                                        <input id="appName" type="text" class="form-control"
                                               placeholder="Andreas Klingenberger" v-model="customer.name">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group form-group-default">
                                        <label>E-Mail</label>
                                        <input id="appDescription" type="text" class="form-control"
                                               placeholder="andreas.klingenberger@gmail.com" v-model="customer.email">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group form-group-default">
                                        <label>Phone</label>
                                        <input id="appPrice" type="text" class="form-control" placeholder="0174-2100569"
                                               v-model="customer.phone">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group form-group-default">
                                        <label>Note</label>
                                        <input id="appNotes" type="text" class="form-control" v-model="customer.note">
                                    </div>
                                </div>
                            </div>

                            <div class="row" v-if="failed">
                                <p class="text-center has-error">Sorry, something went wrong.</p>
                            </div>

                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary btn-cons"
                                        @click.prevent="editCustomer">Save
                                </button>

                                <button class="btn btn-primary" data-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</template>

<script>
    export default {
        data() {
            return {
                customer: { name: '', email: '', phone: '', note: '' },
                failed: false
            };
        },

        mounted() {
            $("#EditCustomerModal").on("show.bs.modal", (e) => {
                let customer = $(e.relatedTarget).data('customer');

                this.customer = customer;
            });
        },

        methods: {
            editCustomer() {
                this.$http.patch(`/salon/customers/${this.customer.id}`, this.customer)
                    .then(response => {
                      location.reload();
                    }, (response) => {
                      this.failed = true;
                    });
            }
        }
    }

</script>
