<template>
<!-- MODAL STICK UP  -->
          <div class="modal fade slide-up disable-scroll in" id="EditStaffModal" tabindex="-1" role="dialog" aria-labelledby="EditStaffModal" aria-hidden="true" >
            <div class="modal-dialog">
              <div class="modal-content-wrapper">
                <div class="modal-content">
                <div class="modal-header clearfix ">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
                  </button>
                  <h4 class="p-b-5"><span class="semi-bold">Edit</span> {{ employee.name }}</h4>
                </div>
                <div class="modal-body">
                  <p class="small-text">Edit your Staff Members using this form, make sure you fill them all</p>
                  
                  <form role="form">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group form-group-default">
                          <label>Name</label>
                          <input id="staffName" type="text" class="form-control" placeholder="Enter a name" v-model="employee.name">
                        </div>
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group form-group-default">
                          <label>E-Mail</label>
                          <input id="staffEmail" type="text" class="form-control" placeholder="Enter an email" v-model="employee.email">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group form-group-default">
                          <label style="opacity: 1;">Working Hours</label>
              <div class="row">
                  <!-- start Monday-->
                  <div class="col-xs-12 col-sm-6 col-lg-6">   
                            <div class="checkbox check-success col-xs-3 col-sm-3 col-lg-3 m-r-5 no-padding">
                    <input type="checkbox"  value="1" id="checkbox1">
                    <label for="checkbox1" style="opacity: 1;">Mo.</label>
                  </div>      
                    <div class="col-xs-3 col-sm-3 col-md-3 m-r-10 m-t-5 no-padding">
                      <select data-init-plugin="select2">
                              <option value="08:00">08:00</option>
                              <option value="08:30">08:30</option>
                          </select>
                        </div>
                      <div class="col-xs-1 col-sm-1 m-t-10 no-padding">to
                      </div>
                    <div class="col-xs-4 col-sm-4 col-md-3 m-t-5 no-padding">
                        <select data-init-plugin="select2">
                                <option value="08:00">08:00</option>
                                <option value="08:30">08:30</option>
                            </select>
                        </div>  
                  </div> 
                
                <!-- End Monday-->
                <!-- start Tuesday-->
                  
                  <div class="col-xs-12 col-sm-6 col-lg-6">   
                            <div class="checkbox check-success col-xs-3 col-sm-3 col-lg-3 m-r-5 no-padding">
                    <input type="checkbox" checked="checked" value="2" id="checkbox2">
                    <label for="checkbox2" style="opacity: 1;">Di.</label>
                  </div>      
                  <div class="col-xs-3 col-sm-3 col-md-3 m-r-10 m-t-5 no-padding">
                      <select data-init-plugin="select2">
                              <option value="08:00">08:00</option>
                              <option value="08:30">08:30</option>
                          </select>
                      </div>
                    <div class="col-xs-1 col-sm-1 m-t-10 no-padding">to
                    </div>
                  <div class="col-xs-4 col-sm-4 col-md-3 m-t-5 no-padding">
                      <select data-init-plugin="select2">
                              <option value="08:00">08:00</option>
                              <option value="08:30">08:30</option>
                          </select>
                      </div>  
                </div>
                <!-- End Tuesday-->
                  
               </div>
               <!-- End Row-->
                <div class="row">
                  <!-- start Wednesday-->
                  <div class="col-xs-12 col-sm-6 col-lg-6">   
                            <div class="checkbox check-success col-xs-3 col-sm-3 col-lg-3 m-r-5 no-padding">
                    <input type="checkbox" checked="checked" value="3" id="checkbox3">
                    <label for="checkbox3" style="opacity: 1;">Mi.</label>
                  </div>      
                    <div class="col-xs-3 col-sm-3 col-md-3 m-r-10 m-t-5 no-padding">
                      <select data-init-plugin="select2">
                              <option value="08:00">08:00</option>
                              <option value="08:30">08:30</option>
                          </select>
                        </div>
                      <div class="col-xs-1 col-sm-1 m-t-10 no-padding">to
                      </div>
                    <div class="col-xs-4 col-sm-4 col-md-3 m-t-5 no-padding">
                        <select data-init-plugin="select2">
                                <option value="08:00">08:00</option>
                                <option value="08:30">08:30</option>
                            </select>
                        </div>  
                  </div> 
                
                <!-- End Wednesday-->
                <!-- start Thursday-->
                  
                  <div class="col-xs-12 col-sm-6 col-lg-6">   
                            <div class="checkbox check-success col-xs-3 col-sm-3 col-lg-3 m-r-5 no-padding">
                    <input type="checkbox" checked="checked" value="4" id="checkbox4">
                    <label for="checkbox4" style="opacity: 1;">Do.</label>
                  </div>      
                  <div class="col-xs-3 col-sm-3 col-md-3 m-r-10 m-t-5 no-padding">
                      <select data-init-plugin="select2">
                              <option value="08:00">08:00</option>
                              <option value="08:30">08:30</option>
                          </select>
                      </div>
                    <div class="col-xs-1 col-sm-1 m-t-10 no-padding">to
                    </div>
                  <div class="col-xs-4 col-sm-4 col-md-3 m-t-5 no-padding">
                      <select data-init-plugin="select2">
                              <option value="08:00">08:00</option>
                              <option value="08:30">08:30</option>
                          </select>
                      </div>  
                </div>
                <!-- End Thursday-->
                  
               </div>
               <!-- End Row-->
               <div class="row">
                  <!-- start Friday-->
                  <div class="col-xs-12 col-sm-6 col-lg-6">   
                            <div class="checkbox check-success col-xs-3 col-sm-3 col-lg-3 m-r-5 no-padding">
                    <input type="checkbox" checked="checked" value="5" id="checkbox5">
                    <label for="checkbox5" style="opacity: 1;">Fr.</label>
                  </div>      
                    <div class="col-xs-3 col-sm-3 col-md-3 m-r-10 m-t-5 no-padding">
                      <select data-init-plugin="select2">
                              <option value="08:00">08:00</option>
                              <option value="08:30">08:30</option>
                          </select>
                        </div>
                      <div class="col-xs-1 col-sm-1 m-t-10 no-padding">to
                      </div>
                    <div class="col-xs-4 col-sm-4 col-md-3 m-t-5 no-padding">
                        <select data-init-plugin="select2">
                                <option value="08:00">08:00</option>
                                <option value="08:30">08:30</option>
                            </select>
                        </div>  
                  </div> 
                
                <!-- End Friday-->
                <!-- start Saturday-->
                  
                  <div class="col-xs-12 col-sm-6 col-lg-6">   
                            <div class="checkbox check-success col-xs-3 col-sm-3 col-lg-3 m-r-5 no-padding">
                    <input type="checkbox" checked="checked" value="6" id="checkbox6">
                    <label for="checkbox6" style="opacity: 1;">Sa.</label>
                  </div>      
                  <div class="col-xs-3 col-sm-3 col-md-3 m-r-10 m-t-5 no-padding">
                      <select data-init-plugin="select2">
                        <option value="08:00">08:00</option>
                        <option value="08:30">08:30</option>
                      </select>
                  </div>
                  
                  <div class="col-xs-1 col-sm-1 m-t-10 no-padding">to</div>

                  <div class="col-xs-4 col-sm-4 col-md-3 m-t-5 no-padding">
                      <select data-init-plugin="select2">
                        <option value="08:00">08:00</option>
                        <option value="08:30">08:30</option>
                      </select>
                  </div>  
                </div>
                <!-- End Saturday-->
                  
               </div>
               <!-- End Row-->
               
               
                </div>
              </div>
            </div>

          <div class="row">
            <div class="form-group form-group-default">
              <label>Provided Services</label>
              <input id="#tagsinput" type="text" value="Service 1, Service 2, Service 3, service 4, service 5, service 6, service 7" data-role="tagsinput">
            </div>
          </div>

          <div class="modal-footer">
            <button id="add-app" type="button" class="btn btn-primary  btn-cons">Save</button>
            <button type="button" class="btn btn-alert" data-dismiss="modal">Close</button>
          </div>
       </form>
      </div>
    </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
</template>

<script>
    export default {
        data() {
            return {
                employee: { name: '', email: '' },
                workingPlan: ''
            };
        },

        mounted() {
            $("#EditStaffModal").on("show.bs.modal", (e) => {
                let employee = $(e.relatedTarget).data('employee');
                let employeeWorkingPlan = $(e.relatedTarget).data('employee-working-plan');

                this.employee = employee;
                this.workingPlan = employeeWorkingPlan;

                console.log(this.workingPlan);
            });
        },

        methods: {
            // editService() {
            //     this.$http.put('services', this.service)
            //         .then(response => {
            //           location.reload();
            //         });
            //     ;
            // }
        }
    }
</script>
