/*

* Override Pages default styles or create your own styles here

*/
.background-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: -9999;

  display: block;
  background-image: url('../img/bg.jpg');
  width: 1920px;
  height: 1080px;
  opacity: 0.4;

  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -o-filter: blur(20px);
  -ms-filter: blur(20px);
  filter: blur(20px);

}

/*** Desktops & Laptops ***/
@media only screen and (min-width: 980px) {
  body.ie9.menu-pin .page-sidebar {
    transform: none !important;
    -webkit-transform: none !important;
    -ms-transform: none !important;
  }
  body.menu-pin {
    overflow-x: hidden;
  }
  body.menu-pin .header .brand {
    width: 245px;
  }
  body.menu-pin .page-container {
    padding-left: 0;
  }
  body.menu-pin .page-container .page-content-wrapper .contentcenter {
    padding-left: 25%;
  }
  body.menu-pin .page-container .page-content-wrapper .footer {
    left: 250px;
  }
  body.menu-pin [data-toggle-pin="sidebar"] > i:before {
    content: "\f192";
  }
  body.menu-pin .page-sidebar {
    transform: translate(210px, 0) !important;
    -webkit-transform: translate(210px, 0) !important;
    -ms-transform: translate(210px, 0) !important;
  }
  body.menu-pin .page-sidebar {
    width: 250px;
  }
  body.menu-pin .page-sidebar .sidebar-header .sidebar-header-controls {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
  }
  body.menu-pin .page-sidebar .menu-items .icon-thumbnail {
    -webkit-transform: translate3d(-14px, 0, 0);
    transform: translate3d(-14px, 0, 0);
    -ms-transform: translate(-14px, 0);
  }
  body.menu-behind .page-sidebar {
    z-index: 799;
  }
  body.menu-behind .header .brand {
    width: 200px;
    text-align: left;
    padding-left: 20px;
  }
  body.box-layout {
    background-color: #fff;
  }
  body.box-layout > .container,
  body.box-layout > .full-height > .container {
    height: 100%;
    padding: 0;
    background-color: #fafafa;
  }
  body.box-layout .header {
    background-color: transparent;
    border: 0;
    padding: 0;
  }
  body.box-layout .header > .container {
    background-color: #fff;
    border-bottom: 1px solid rgba(230, 230, 230, 0.7);
    padding: 0 20px 0 0;
  }
  body.box-layout .page-sidebar {
    left: auto;
    transform: none !important;
    -webkit-transform: none !important;
  }
  body.box-layout .page-container .page-content-wrapper .footer {
    width: auto;
  }
  .header .brand {
    position: relative;
  }
  .header .user-info-wrapper .user-details .user-name {
    font-size: 16px;
  }
  .header .user-info-wrapper .user-details .user-other {
    font-size: 10px;
  }
  .header .user-info-wrapper .user-pic {
    position: relative;
    top: -6px;
  }
  .notification-panel {
    width: 400px;
  }
}
.checkbox, .radio {
  position: relative;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}
.btn-timeslot,
.btn-timeslot:focus {
  color: #626262;
  background-color: #fff;
  border-color: #626c75;
}
.btn-timeslot.active,
.btn-timeslot:active,
.btn-timeslot.active:focus,
.btn-timeslot:active:focus,
.btn-timeslot:active:hover,
.open .dropdown-toggle.btn-timeslot {
  background-color: #0da899;
  border-color: #0da899;
  color: #fff;
}
.btn-timeslot.hover,
.btn-timeslot:hover,
.open .dropdown-toggle.btn-timeslot {
  background-color: #40d9ca;
  border-color: #40d9ca;
  color: #fff;
}
.btn-timeslot.active:hover {
  background: #0eb2a3;
  border-color: #0eb2a3;
}
.btn-timeslot.disabled,
.btn-timeslot[disabled],
fieldset[disabled] .btn-timeslot,
.btn-timeslot.disabled:hover,
.btn-timeslot[disabled]:hover,
fieldset[disabled] .btn-timeslot:hover,
.btn-timeslot.disabled:focus,
.btn-timeslot[disabled]:focus,
fieldset[disabled] .btn-timeslot:focus,
.btn-timeslot.disabled:active,
.btn-timeslot[disabled]:active,
fieldset[disabled] .btn-timeslot:active,
.btn-timeslot.disabled.active,
.btn-timeslot[disabled].active,
fieldset[disabled] .btn-timeslot.active {
  background-color: #10cfbd;
  border-color: #10cfbd;
}
.btn-timeslot .badge {
  color: #10cfbd;
  background-color: #fff;
}
.datepicker thead tr .next, .datepicker thead tr .prev {
  color: #10cfbd;
  content: '';
  font-size: 0px;
}
.datepicker thead tr .dow {
  font-family: 'Montserrat';
  color: #10cfbd;
  text-transform: uppercase;
  font-size: 11px;
}
.datepicker thead tr .next:before, .datepicker thead tr .prev:before {
  color: #10cfbd;
  font-family: 'FontAwesome';
  font-size: 10px;
}

.datepicker table tr td.active {
  background-color: #10cfbd !important;
}
.modal-header {
  min-height: 16.43px;
  padding: 15px;
  border-bottom: 0px solid #e5e5e5;
}