<template>
<div class="col-xs-12 input-group p-t-10">
  <div class="col-xs-1 p-t-5" @click="toggleCheck">
    <input
      type="checkbox"
      :checked="isWorkable"

      data-init-plugin="switchery"
      data-size="small"
      data-color="primary"
    >
  </div>

  <div class="col-xs-3 p-t-5">
    <label class="font-montserrat fs-18 all-caps">&nbsp; <slot></slot> &nbsp; </label>
  </div>

  <div class="form-inline" v-show="isWorkable">
    <div class="form-group">
      <select
        class="form-control"
        v-model="plan.work_start"
        @change="changePlan"
      >
        <option
          v-for="timeslot in timeslots"
          v-text="timeslot"
          :value="timeslot"
          :selected="timeslot == plan.work_start"
        >
        </option>
      </select>
    </div>

    <div class="form-group">
      <label class="font-montserrat fs-18 all-caps">&nbsp;  to &nbsp; </label>
    </div> 

    <div class="form-group">
      <select
        class="form-control"
        v-model="plan.work_end"
        @change="changePlan"
      >
        <option
          v-for="timeslot in timeslots"
          v-text="timeslot"
          :value="timeslot"
          :selected="timeslot == plan.work_end"
        >
        </option>
      </select>
    </div>

    <div class="form-group">
      <button @click.prevent="savePlan" class="btn btn-primary btn-xs pull-right" v-show="isChanged">
        <i class="fa fa-floppy-o" aria-hidden="true"></i> Save
      </button>
    </div>
  </div>
</div>
</template>

<script>
    export default {
        props: ['plan'],

        data() {
            return {
              isWorkable: false,
              isChanged: false,
              timeslots: []
            };
        },

        mounted() {
          this.generateTimeslots();
          
          this.isWorkable = this.plan.isWorkable;
        },

        methods: {
          toggleCheck() {
            if (! this.isWorkable) {
              // this.plan.work_start = this.salonPlan.work_start;
              // this.plan.work_end = this.salonPlan.work_end;
              this.isChanged = true;
            }

            this.isWorkable = ! this.isWorkable;

            if (this.isWorkable == false) {
              this.setOffday();
            }
          },

          changePlan()
          {
            this.isChanged = true;
          },

          savePlan() {
            let path = `/salon/profile/working-days/${this.plan.weekday}`;

            this.$http.put(path, this.plan)
                .then(response => {
                  this.isChanged = false;

                  Event.fire('alert', { message: response.body.status });
                },
                error => {
                  Event.fire('alert', { message: error.body.errors, type: 'error' });
                });
          },

          setOffday() {
            this.plan.work_start = '00:00:00';
            this.plan.work_end = '00:00:00';

            this.savePlan();
          },

          generateTimeslots() {
            let starttime = '00:00:00';
            let interval = "30";
            let endtime = '23:30:00';

            let timeslots = [starttime];

            while (starttime != endtime) {
              starttime = this.addMinutes(starttime, interval);
              timeslots.push(starttime);
            }

            this.timeslots = timeslots;
          },

          addMinutes(time, minutes) {
            var date = new Date(new Date('01/01/2015 ' + time).getTime() + minutes * 60000);

            var tempTime = ((date.getHours().toString().length == 1) ? '0' + date.getHours() : date.getHours()) + ':' +
              ((date.getMinutes().toString().length == 1) ? '0' + date.getMinutes() : date.getMinutes()) + ':' +
              ((date.getSeconds().toString().length == 1) ? '0' + date.getSeconds() : date.getSeconds());
              
            return tempTime;
          }
        }
    }
</script>